{% extends 'base.html' %}

{% block head %}

{% endblock %}


{% block body %}
<div class="content">
    <p>
        TimeZoneReminder (TZR) app recognizes following short names for time zones:<br>
        {'ART': 'America/Argentina/Buenos_Aires',<br>
         'CST': 'US/Central',<br>
         'EST': 'US/Eastern',<br>
         'IST': 'Asia/Kolkata',<br>
         'JST': 'Asia/Tokyo',<br>
         'MSK': 'Europe/Moscow',<br>
         'PST': 'US/Pacific',<br>
         'TURKEY': 'Europe/Istanbul',<br>
         'UTC': 'Etc/UTC'}<br>
    </p>
    <div class="form">
        <form action="/add_contact" method="POST">
        <fieldset>
        <legend>Contact's info:</legend>
            <label for="contact_name">Name/nick</label>
            <input type="text" id="contact_name" name="contact_name" /><br /><br />
            <label for="platform">Platform:</label>
            <input type="text" id="platform" name="platform" /><br /><br />
            <label for="comment">Comment:</label>
            <input type="text" id="comment" name="comment" /><br /><br />
            <label for="location">Location:</label>
            <input type="text" id="location" name="location" /><br /><br />
            <label for="time_zone">Time zone (zone name or utc-offset like +1):</label>
            <input type="text" id="time_zone" name="time_zone" /><br /><br />
            <input type="submit" value="Submit" />
    </fieldset>
        </form>
    </div>
</div>

{% endblock %}